@import url('../../variables.less');


.app-form {
}


.app-form-header {
    border-color: @formBorderColor;
}


.app-form-title {
    font-size: @heading4FontSize;
    color: @formTitleColor;
}


.app-form-sub-title {
    color: @formSubTitleColor;
}

@import (optional) url('../../../custom/components/data/form.less');
@import (optional) url('../../../custom/os/components/data/form.less');