@import url('../../variables.less');


.app-list {
}


.app-list-icon {
}


.app-list-loading-icon {
}


.app-list-loading-icon .app-icon-text {
    color: @listSubTitleColor;
}


.app-list-heading {
    background-color: @listHeaderBgColor;
}


.app-list-group-heading {
    background-color: @groupHeadingBgColor,;
}


.app-list-title {
    color: @listTitleColor;
}


.app-list-sub-title {
    color: @listSubTitleColor;
}


.app-list-empty-message {
    color: @listSubTitleColor;
}


.app-list-on-demand-data-message {
    color: @listSubTitleColor;
}


.app-list-item {
}


.app-list-selected-item {
}


.app-list-selected-icon {
}


.app-list-group {
}


.app-list-item-skeleton {
}

@import (optional) url('../../../custom/components/data/list.less');
@import (optional) url('../../../custom/os/components/data/list.less');