@import url('../../variables.less');


.app-rating {
}


.app-rating-text {
    color: @ratingSelectedIconColor;
}


.app-rating-icon {
    color: @ratingIconColor;
}


.app-rating-selected-icon {
    color: @ratingSelectedIconColor;
}

@import (optional) url('../../../custom/components/input/rating.less');
@import (optional) url('../../../custom/os/components/input/rating.less');