@import url('../../variables.less');


.app-select {
    border-color: @inputBorderColor;
    background-color: @inputBackgroundColor;
}


.app-select-text {
}


.app-select-invalid {
    border-bottom-color: @inputInvalidBorderColor;
}


.app-select-item {
}


.app-select-item-text {
}


.app-select-last-item {
}


.app-select-active-item {
}


.app-select-active-item-text {
}


.app-select-check-icon {
}

@import (optional) url('../../../custom/components/input/select.less');
@import (optional) url('../../../custom/os/components/input/select.less');