@import url('../../variables.less');


.app-slider {
}


.app-slider-text {
}


.app-slider-minimum-text {
}


.app-slider-maximum-text {
}


.app-slider-value-text {
}


.app-slider-track {
}


.app-slider-minimum-track {
    background-color: @minimumTrackTintColor;
}


.app-slider-maximum-track {
    background-color: @maximumTrackTintColor;
}


.app-slider-thumb {
    background-color: @thumbTintColor;
    color: @thumbTintColor;
}


.app-slider-track-style {
}


.app-slider-marker-style {
}


.app-slider-marker-label-style {
}


.app-slider-minimum-track-style {
}


.app-slider-maximum-track-style {
}


.app-slider-active-track-style {
}


.app-slider-tooltip {
}


.app-slider-tooltip-label {
}


.app-slider-tooltip-triangle {
}

@import (optional) url('../../../custom/components/input/slider.less');
@import (optional) url('../../../custom/os/components/input/slider.less');