@import url('../../../variables.less');


.app-time {
    background-color: @inputBackgroundColor;
    border-color: @inputBorderColor;
}


.app-time-text {
    color: @inputTextColor;
}


.app-time-invalid {
    border-bottom-color: @inputInvalidBorderColor;
}


.app-time-clear-icon {
}


.app-time-calendar-icon {
}


.app-time-flotaing-label {
}


.app-time-active-flotaing-label {
}


.app-time-action-wrapper {
}


.app-time-select-btn {
}


.app-time-cancel-btn {
}


.app-time-ios-dialog {
}


.app-time-picker-modal-select {
}


.app-time-picker-modal-cancel {
}

@import (optional) url('../../../../custom/components/input/epoch/time.less');
@import (optional) url('../../../../custom/os/components/input/epoch/time.less');