@import url('../../variables.less');


.app-tabbar {
}


.app-tabbar-menu {
    background-color: @tabbarBackgroundColor;
}


.app-tabbar-more-menu {
    background-color: @tabbarBackgroundColor;
}


.app-tabbar-more-menu-row {
}


.app-tabbar-item {
}


.app-tabbar-active-item {
}


.app-tabbar-center-hub-item {
}


.app-tabbar-center-hub-icon {
}


.app-tabbar-center-hub-label {
}


.app-tabbar-item-icon {
}


.app-tabbar-active-icon {
}


.app-tabbar-item-icon .app-icon-shape {
    color: @tabbarIconColor;
    border-bottom-color: @tabbarIconColor;
}


.app-tabbar-active-icon .app-icon-shape {
}


.app-tabbar-item-label {
    color: @tabbarIconColor;
}


.app-tabbar-active-label {
}

@import (optional) url('../../../custom/components/page/tabbar.less');
@import (optional) url('../../../custom/os/components/page/tabbar.less');