@import url('../../../variables.less');

.app-date{
    min-height: auto;
    border-width: 0;
    background-color: transparent;
    elevation: 0;
}

.app-date-text{
    font-size: 22px;
}

.app-date-calendar-icon.app-icon{
    display: none;
}

.app-date-clear-icon.app-icon{
    display: none;
}