@import url('../../variables.less');


.app-dialog {
    background-color: @dialogBackgroundColor;
}


.app-dialog-modal {
    top: 0;
    align-items: flex-end;
}


.app-dialog-modal-content {
}


.app-dialog-header {
    border-color: @dialogBorderColor;
}


.app-dialog-title {
}


.app-dialog-icon {
}


.app-dialog-close-btn {
}

@import (optional) url('../../../custom/components/dialogs/dialog.less');
@import (optional) url('../../../custom/os/components/dialogs/dialog.less');