@import url('../../variables.less');


.app-menu {
    background-color: @popoverBackgroundColor;
}


.app-menu-trigger {
}


.app-menu-trigger .app-anchor-icon .app-icon {
    color: @menuIconColor;
}


.app-menu-trigger .app-anchor-text {
    color: @menuTextColor;
}


.app-menu-content {
    background-color: @menuBackgroundColor;
}


.app-menu-item {
}


.app-menu-item .app-anchor {
    border-bottom-color: @menuItemBorderColor;
}


.app-menu-item .app-anchor-icon .app-icon-shape {
    color: @menuItemIconColor;
}


.app-menu-item .app-anchor-text {
    color: @menuItemTextColor;
}

@import (optional) url('../../../custom/components/navigation/menu.less');
@import (optional) url('../../../custom/os/components/navigation/menu.less');