@import url('../../variables.less');


.app-popover {
    background-color: @popoverBackgroundColor;
}


.app-popover-title {
    background-color: @popoverTitleBackgroundColor;
    color: @popoverTitleColor;
}


.app-popover-link {
}


.app-popover-content {
}


.app-popover-modal-content {
}

@import (optional) url('../../../custom/components/navigation/popover.less');
@import (optional) url('../../../custom/os/components/navigation/popover.less');