@import url('../../variables.less');

.app-label-text{
  color: rgba(26, 20, 86, 1);
  font-family: "Calibre-Regular";
}
.regular.app-label-text{
  font-family: "Calibre-Regular";
}
.medium.app-label-text{
  font-family: "Calibre-Medium";
}
.semibold.app-label-text{
  font-family: "Calibre-Semibold";
}
.bold.app-label-text{
  font-family: "Calibre-Bold";
}
.font-h1.app-label-text{
  font-size:32;
}
.font-h2.app-label-text{
  font-size:28;
}
.font-h3.app-label-text{
  font-size:18;
}
.font-h4.app-label-text{
  font-size:16;
}
.font-h5.app-label-text{
  font-size:14;
}
.font-h6.app-label-text{
  font-size:12;
}
.font-15.app-label-text{
  font-size: 15;
}
.font-13.app-label-text{
  font-size:13;
}
.font-10.app-label-text{
  font-size:10;
}
.font-20.app-label-text{
  font-size: 20;
}
.font-22.app-label-text{
  font-size: 22;
}
.font-26.app-label-text{
  font-size: 26;
}
.lh-30-8.app-label-text{
line-height: 30.86px;
}
.lh-26-11.app-label-text{
line-height: 26.11px;
}
.lh-22.app-label-text{
  line-height: 22px;
}

.font-24.semibold.app-label.app-label-text{
  font-size: 20;
  font-family: "Calibre-Semibold";
}

.font-h4.semibold.app-label.app-label-text{
  font-size: 16;
  font-family: "Calibre-Semibold";
}
.text-white.app-label-text {
  color:#fff;
}
.text-danger.app-label-text {
  color: var(--wm-color-danger);
}
.text-success.app-label-text {
  color: var(--wm-color-success);
}
.text-info.app-label-text {
  color: var(--wm-color-info);
}
.text-primary.app-label-text {
  color: var(--wm-color-primary);
}
.text-warning.app-label-text {
  color: var(--wm-color-warning);
}
.text-muted.app-label-text {
  color: var(--wm-text-muted);
}
.text-muted-light.app-label-text {
  color: var(--wm-text-muted-light);
}
.label-primary.app-label {
  background: var(--wm-color-primary-o);
  color: var(--wm-color-primary);
}
.label-success.app-label {
  background: var(--wm-color-success-o);
  color: var(--wm-color-success);
}
.label-info.app-label {
  background: var(--wm-color-info-o);
  color: var(--wm-color-info);
}
.label-warning.app-label {
  background: var(--wm-color-warning-o);
  color: var(--wm-color-warning);
}
.label-muted.app-label {
  color: rgba(85, 85, 85, 1);
  background-color:rgba(207, 219, 213, 0.3) ;
}

.label-danger.app-label {
  background: var(--wm-color-danger-o);
  color: var(--wm-color-danger);
}





