@import url('../../../variables.less');


.app-gridrow {
}



.inline.app-gridrow  {
    display: inline;
    width: auto;
  }
  .flex.app-gridrow  {
    display: flex;
  }
  .dir-column.app-gridrow  {
    flex-direction: column;
  }
  .dir-row.app-gridrow  {
    flex-direction: row;
  }
  .vert-center.app-gridrow  {
    align-items: center;
  }
  .horz-center.app-gridrow  {
    justify-content: center;
  }
  .flex-start.app-gridrow  {
    justify-content: flex-start;
  }
  .flex-end.app-gridrow  {
    justify-content: flex-end;
  }
  .space-between.app-gridrow  {
    justify-content: space-between;
  }
  .space-around.app-gridrow  {
    justify-content: space-around;
  }
  .space-evenly.app-gridrow  {
    justify-content: space-evenly;
  }

  .xs-space.app-gridrow{
    padding: 8px 0;
}
