@import url('../../variables.less');


.app-label {
    color: @labelDefaultColor;
}


.app-label-text {
}


.app-label-asterisk {
    color: @labelAsteriskColor;
}


.app-label-skeleton {
}


.app-label-link {
}


.label-danger.app-label {
    background-color: @labelDangerColor;
}


.label-danger.app-label-text {
    color: @labelDangerContrastColor;
}


.label-primary.app-label {
    background-color: @labelPrimaryColor;
}


.label-primary.app-label-text {
    color: @labelPrimaryContrastColor;
}


.label-default.app-label {
    background-color: @labelDefaultColor;
}


.label-default.app-label-text {
    color: @labelDefaultContrastColor;
}


.label-success.app-label {
    background-color: @labelSuccessColor;
}


.label-success.app-label-text {
    color: @labelSuccessContrastColor;
}


.label-warning.app-label {
    background-color: @labelWarningColor;
}


.label-warning.app-label-text {
    color: @labelWarningContrastColor;
}


.label-info.app-label {
    background-color: @labelInfoColor;
}


.label-info.app-label-text {
    color: @labelInfoContrastColor;
}


.text-danger.app-label-text {
    color: @labelTextDangerColor;
}


.text-primary.app-label-text {
    color: @labelTextPrimaryColor;
}


.text-success.app-label-text {
    color: @labelTextSuccessColor;
}


.text-warning.app-label-text {
    color: @labelTextWarningColor;
}


.text-info.app-label-text {
    color: @labelTextInfoColor;
}


.h1.app-label-text {
    font-size: @heading1FontSize;
    color: @labelHeaderColor;
}


.h2.app-label-text {
    font-size: @heading2FontSize;
    color: @labelHeaderColor;
}


.h3.app-label-text {
    font-size: @heading3FontSize;
    color: @labelHeaderColor;
}


.h4.app-label-text {
    font-size: @heading4FontSize;
    color: @labelHeaderColor;
}


.h5.app-label-text {
    font-size: @heading5FontSize;
    color: @labelHeaderColor;
}


.h6.app-label-text {
    font-size: @heading6FontSize;
    color: @labelHeaderColor;
}


.text-muted.app-label-text {
    color: @labelTextMutedColor;
}

@import (optional) url('../../../custom/components/basic/label.less');
@import (optional) url('../../../custom/os/components/basic/label.less');