@import url('../../variables.less');


.app-message {
}


.app-message-text {
}


.app-message-title {
}


.app-message-text-wrapper {
}


.app-message-icon {
}


.app-message-closebtn {
}


.success-dark-message.app-message {
    background-color: @messageSuccessColor;
    border-color: transparent;
}


.success-dark-message.app-message-text {
    color: @defaultColorF;
}


.success-dark-message.app-message-icon .app-icon-text {
    color: @defaultColorF;
}


.success-dark-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColorF;
}


.error-dark-message.app-message {
    background-color: @messageErrorColor;
    border-color: transparent;
}


.error-dark-message.app-message-text {
    color: @defaultColorF;
}


.error-dark-message.app-message-icon .app-icon-text {
    color: @defaultColorF;
}


.error-dark-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColorF;
}


.warning-dark-message.app-message {
    background-color: @messageWarningColor;
    border-color: transparent;
}


.warning-dark-message.app-message-text {
    color: @defaultColorF;
}


.warning-dark-message.app-message-icon .app-icon-text {
    color: @defaultColorF;
}


.warning-dark-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColorF;
}


.info-dark-message.app-message {
    background-color: @messageInfoColor;
    border-color: transparent;
}


.info-dark-message.app-message-text {
    color: @defaultColorF;
}


.info-dark-message.app-message-icon .app-icon-text {
    color: @defaultColorF;
}


.info-dark-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColorF;
}


.loading-dark-message.app-message {
    background-color: @messageLoadingColor;
    border-color: transparent;
}


.loading-dark-message.app-message-text {
    color: @defaultColorF;
}


.loading-dark-message.app-message-icon .app-icon-text {
    color: @defaultColorF;
}


.loading-dark-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColorF;
}


.success-light-message.app-message {
    background-color: @defaultColorF;
    border-color: @defaultColorD;
}


.success-light-message.app-message-text {
    color: @defaultColor6;
}


.success-light-message.app-message-icon .app-icon-text {
    color: @messageSuccessColor;
}


.success-light-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColor6;
}


.error-light-message.app-message {
    background-color: @defaultColorF;
    border-color: @defaultColorD;
}


.error-light-message.app-message-text {
    color: @defaultColor6;
}


.error-light-message.app-message-icon .app-icon-text {
    color: @messageErrorColor;
}


.error-light-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColor6;
}


.warning-light-message.app-message {
    background-color: @defaultColorF;
    border-color: @defaultColorD;
}


.warning-light-message.app-message-text {
    color: @defaultColor6;
}


.warning-light-message.app-message-icon .app-icon-text {
    color: @messageWarningColor;
}


.warning-light-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColor6;
}


.info-light-message.app-message {
    background-color: @defaultColorF;
    border-color: @defaultColorD;
}


.info-light-message.app-message-text {
    color: @defaultColor6;
}


.info-light-message.app-message-icon .app-icon-text {
    color: @messageInfoColor;
}


.info-light-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColor6;
}


.loading-light-message.app-message {
    background-color: @defaultColorF;
    border-color: @defaultColorD;
}


.loading-light-message.app-message-text {
    color: @defaultColor6;
}


.loading-light-message.app-message-icon .app-icon-text {
    color: @messageLoadingColor;
}


.loading-light-message.app-message-closebtn .app-button .app-button-icon .app-icon-text {
    color: @defaultColor6;
}

@import (optional) url('../../../custom/components/basic/message.less');
@import (optional) url('../../../custom/os/components/basic/message.less');