@import url('../../variables.less');


.app-search {
}


.app-search-text {
    border-color: @searchBorderColor;
    background-color: @searchDropdownBackgroundColor;
}


.app-search-invalid {
    border-bottom-color: @inputInvalidBorderColor;
}


.app-search-dropdown-content {
}


.app-search-text-wrapper {
}


.app-search-btn {
    background-color: @searchButtonColor;
}


.app-search-btn .app-button-icon .app-icon-text {
    color: @searchButtonTextColor;
}


.app-search-item {
    border-bottom-color: @searchItemBorderColor;
    color: @searchItemTextColor;
}


.app-search-item-text {
}


.app-search-complete-item {
}


.app-search-placeholder {
    color: @inputPlaceholderColor;
}


.app-search-modal {
}


.app-search-modal-content {
}

@import (optional) url('../../../custom/components/basic/search.less');
@import (optional) url('../../../custom/os/components/basic/search.less');