
:theme-variables {
    --wm-color-primary :                        rgba(22, 60, 186, 1);
    --wm-color-primary-o:                       rgba(22, 60, 186, 0.1);
    --wm-color-secondary:                       rgba(37, 57, 116, 1);
    --wm-color-info :                           rgba(62, 89, 200, 1);
    --wm-color-info-o :                         rgba(62, 89, 200, 0.1);
    --wm-color-success :                        rgba(52, 168, 83, 1);
    --wm-color-success-o :                      rgba(52, 168, 83, 0.1);
    --wm-color-warning :                        rgba(255, 68, 79, 1);
    --wm-color-warning-o :                      rgba(255, 68, 79, 0.1);
    --wm-color-danger:                          rgb(206, 26, 54, 1);
    --wm-color-danger-0:                        rgb(206, 26, 54,0.1); 
    --wm-color-white:                           rgba(255,255,255,1);
    --wm-text-muted:                            rgba(26, 20, 86, 0.6);
    --wm-text-muted-light:                      rgba(253, 253, 254, 0.8);




    --wm-btn-base-font:                         22px;
    --wm-btn-text-transform:                    capitalize;
    --wm-btn-font-family:                       "Calibre-Medium";


    //border radius variable
    --wm-border-radius-8:                      8px;
    --wm-border-radius-12:                     12px;
    --wm-border-radius-16:                     16px;
    --wm-border-radius-24:                     24px;

}